*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

img{
    vertical-align: top;
}

button{
    background-color: transparent;
    border: none;

}

ul[class],
ol[class]{
    list-style: none;
}

textarea{
    resize: none;
}