.section__header {
    text-align: center;
    padding-top: 100px; 
}

.section-header__title {
    font-size: 2.3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.section-header__line {
    display: inline-block;
    height: 1px;
    width: 170px;
    background-color: #EC7979;
    margin-top: 2rem;
}

.section-header__description {
    color: #86878B;
    font-size: 1.1rem;
    margin-top: 2rem;
    font-family: 'Raleway', sans-serif;
}

.section-header--color-white{
    color: #fff;
    font-family: 'Raleway';
    font-size: 2.5rem;
    line-height: 5rem;
    align-items: center;
    text-transform: uppercase;
}