.social{
    background: #F8EFEF;
    height: 10rem;
}

.social-content{
    display: flex;
    justify-content: space-between;
}

.social__title{
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
}

.social__description{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 3rem;
}

.social__icons-content{
    display: flex;
    margin-top: 3rem;
    column-gap: 35px;
}

@media (max-width: 768px){
    .social{
        height: 20rem;
    }

    .social-content{
        flex-wrap: wrap;
    }

    .social-content-text{
        padding-top: 30px;
        text-align: center;
    }
}