.tabs{
    padding: 5rem 0;
}

.tabs-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.88rem;
    color: #333333;
    text-transform: uppercase;
    padding: 0.6rem 5rem;
}

.tabs-button--active{
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.tabs__content{
    display: inline-block;
    width: 50%;
    padding: 20px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
}

.tabs__content-text{
    vertical-align: top;
    font-size: 0;
}

.tabs__content-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}

.tabs__content-subtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 40px;
}

.section-tabs__button{
    padding: 20px 100px;
    color: #fff;
    border: 0;  
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    cursor: pointer;
    margin-top: 27px;
}

.new-york__image{
    width: 40%;
    height: 473px; 
}